:root {
    --cell-size: 48px;
    --cell-borderwidth: 1px;
    --grid-backgroud-color: #0077c7;
}

body {
    font-family: "Roboto Medium", Ubuntu, Arial, Helvetica, sans-serif;
    font-size: 32px;
    text-align: center;
    color: #ffffff;
    background-color: black;
}

.score_table {
    border-spacing: 0;
    background-color: var(--grid-backgroud-color);
    min-height: calc(6 * var(--cell-size) + 12 * var(--cell-borderwidth));
}

.orange {
    background-color: orange;
}
.score_table td {
    border: 1px solid;
}

.score_table th {
    border: 1px solid #ffffff;
}